:root {
  line-height: 1.5;
  font-weight: 400;

  --yellow: #e7c359;
  --lessyellow: #bda459;
  --orange: #d48849;
  --red: #bd4545;
  --purple: #6d1950;
  --dark: #20073a;
  --darker: #120422;

  color-scheme: light dark;
  color: 	#ffffff;

  background: rgb(32,7,58);
  background: linear-gradient(90deg, rgba(32,7,58,1) 38%, #D63A3A 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 250vh;
   font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: row;
 
  min-height: 200vh;
  max-width: 1220px;
  margin: auto;
  position: relative;
  justify-content: space-between;

  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.barreira {
  max-height: 95vh;
  max-width: 448px;
}


@media screen and (max-width: 1125px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    .barreira {
      width: 0px;
      height: 0px;
    }
@media screen and (max-width: 700px) {
  :root {
  background: #D63A3A;
  background: radial-gradient(circle, #D63A3A 0%, rgba(32,7,58,1) 100%);
  }
}
}