.FixedStuff{
    position: fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 95vh;

    min-width: 280px;
    width: 448px;
}

.FixedStuff h1 {
    font-size: 100px;
    line-height: 0.32;
}

.FixedStuff h3 {
    line-height: 1.25;
    font-size: 17px;
    font-weight: 400;
    color: #A1A1AA;
}

.FixedStuff section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.FixedStuff section a {
    color: #52525B;
    font-weight: 700;
    font-size: 13px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.FixedStuff section :hover {
    transform: translateX(7px);
}

.FixedStuff span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot {  
    margin-top: auto;
    display: flex;
    margin-left: 23px;
    flex-direction: column;
 } 

.FixedStuff span a {
    display: flex;
    align-items: center;
    
    text-decoration: none;
    color: white;
}

.FixedStuff span img {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    padding-right: 15px;
}

.FixedStuff span li {
    font-size: 1.05rem;
    line-height: 1.25rem;
    list-style: none;
    margin: 0px 4px;
    
}

.FixedStuff span li svg {
    padding: 0px 7px;
}

#pzin {
    text-align: center;
    color: #494951;
}
div p a {
    color: #9F9FA8;
}


#icon {
    color: #A1A1AA;
 }

#point {
    margin-top: 80px;
}

@media screen and (max-width: 1125px) {
    .FixedStuff {
        position: static;
        width: 100%;
        max-height: 300vh;
        height: auto;
    }

    .FixedStuff main {
        width: 100%;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
    }

    .FixedStuff main h1 {
        line-height: 0.7;
        font-size: 65px;
    }

    .FixedStuff main h3 {
        line-height: 1;
        word-wrap: break-word;
        white-space: normal;
    }

    .FixedStuff span {
        flex-direction: column;
        align-items: flex-start;
    }

    .foot {
        margin-top: 20px;
        margin-left: 0px;
    }
    #pzin {
        text-align: left;
        color: #494951;
    }
    .FixedStuff span li {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .FixedStuff span img {
        margin-left: 10px;
    }
}