.NotFixedStuff {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.NotFixedStuff section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
}

.NotFixedStuff section div{
    will-change: transform;
    transition: all 0.3s;
}

.NotFixedStuff section div:hover{
    transform: scale(1.05);
    transition: all 0.3s;
    cursor: pointer;
}

.NotFixedStuff span {
    transition: all 0.3s;
    width: 546px;
    min-height: 452px;
    display: flex;
    align-items: center;
}

.NotFixedStuff span h1{
    font-size: 25px;
    font-weight: bold;
}
.NotFixedStuff span h2{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.NotFixedStuff span p{
    color: #A1A1AA;

}

.tecno {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    min-height: 650px;
    transition: all 0.3s;
}
.tecno div{

    color: #A1A1AA;
}

.tecno div h2{
    will-change: transform;
    transition: all 0.3s;
}

.tecno div :hover{
    transform: scale(1.1);
    color: white;
}